.App {
    margin-left: 400px;
}

.topbread {
    margin-top: 10px;
    height: 50px;
    width: 350px;
    background-color: darkorange;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.tomato {
    height: 50px;
    width: 350px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 5px;
}

.meat {
    height: 50px;
    width: 350px;
    margin-top: 5px;
    border: none;
    color: white;
    background-color: brown;
}

.lettuce {
    height: 50px;
    width: 350px;
    margin-top: 5px;
    border: none;
    background-color: green;
    color: white;
}

.basebread {
    height: 50px;
    width: 350px;
    margin-top: 5px;
    border-radius: 8px;
    background-color: darkorange;
    border: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

h1 {
    margin-left: 30px;
}

.addbtn {
    color: white;
    height: 50px;
    background-color: green;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btns2 {
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: bold;
}